<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--可以让img标签预加载网络图片-->
    <meta name="referrer" content="no-referrer" />
    <title>登录成功</title>
    <script>
        function displayUser() {
            //js跳转
            window.location.href = "/disPUI/"
        }
    </script>
    <script>
        test = function (obj) {
            alert(obj);
        }
    </script>
    <link rel="stylesheet" href="{% static 'cmdb/bootstrap.css' %}">
    <style type="text/css">
        img{  
            width: auto;  
            height: auto;  
            max-width: 100%;  
            max-height: 100%;     
        }
        .test{
            text-align: center;
            font-family: serif;
            line-height: 5;
        }     
    </style>
</head>

<body>
    <div class="container">
        <table style="width:100% ;background-color: darkgray">
                <th  style="width: 50%;padding: 8px"><button class="btn btn-primary" onclick="displayUser()">back</button></th>
                <th  style="width: 50%">
                    <form class="form-inline" action="/findMovie/" method="post" align="right">
                        {% csrf_token %}
                        <div class="form-group"  style="padding: 8px">
                            <input type="text" name="movieName" class="form-control" placeholder="Movie name" style="width: 150px">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </th>
        </table>
    </div>
    <div class="container">
        <table class="table table-striped" style="font-size: 17px" >
            <thead>
                <th class="text-center">评分</th>
                <th class="text-center">主题</th>
                <th class="text-center">URL</th>
                <th class="text-center">封面</th>
            </thead>
            <tbody>
                {% for x in data %}
                <tr>
                    <td ><p class="test" style="width:100x;height:80px">{{ x.rate }}</p></td>
                    <td ><p class="test" style="width:100x;height:80px">{{ x.title }}</p></td>
                    <td ><a href="{{ x.url }}"><p class="test" style="width:100x;height:80px">{{ x.url }}</p></a></td>
                    <td >
                        <a href="{{x.cover}}">
                            <div style="width:100x;height:80px" class="test">
                                <img src="{{x.cover}}">
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>