<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" /> <!--可以让img标签预加载网络图片-->
    <title>登录成功</title>
    <script>
        function addUser() {
            //js跳转
            window.location.href = "/addUI/"
        }
    </script>
    <script>
        test = function (obj) {
            alert(obj);
        }
    </script>
    <link rel="stylesheet" href="{% static 'cmdb/bootstrap.css' %}">
    <style type="text/css">
        img{  
            width: auto;  
            height: auto;  
            max-width: 100%;  
            max-height: 100%;     
        }
        .test{
            text-align: center;
            font-family: serif;
            line-height: 5;
        }     
    </style>
</head>

<body>
    <div class="container">
        <table class="table table-striped" style="font-size: 17px" >
            <thead>
                <th class="text-center">评分</th>
                <th class="text-center">主题</th>
                <th class="text-center">URL</th>
                <th class="text-center">封面</th>
            </thead>
            <tbody>
        
                {% for x in info2 %}
                {{ x }}
                {% endfor %}
        
                {% for x in data %}
                <tr>
                    <td ><p class="test" style="width:100x;height:80px">{{ x.rate }}</p></td>
                    <td ><p class="test" style="width:100x;height:80px">{{ x.title }}</p></td>
                    <td ><p class="test" style="width:100x;height:80px">{{ x.url }}</p></td>
                    <td >
                        <div style="width:100x;height:80px" class="test">
                            <img src="{{x.cover}}">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>